@page
@model IndexModel
@{
    ViewData["Title"] = "Kelly Tan";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Razor Page & DB: Company DB with departments & employees tables.</p>
</div>